<!-- src/app/pages/admin/shell/sidebar/admin-sidebar.component.html -->
<aside class="sidebar">
  <nav>
    <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <span>📊</span> Dashboard
    </a>

    <a routerLink="/admin/commandes" routerLinkActive="active">
      <span>🛒</span> Commandes
    </a>
    <a routerLink="/admin/utilisateurs" routerLinkActive="active">
      <span>👥</span> Utilisateurs
    </a>

    <a routerLink="/admin/brands" routerLinkActive="active">
      <span>📱</span> Marques
    </a>

    <a routerLink="/admin/categories" routerLinkActive="active">
      <span>🗃️</span> Catégories
    </a>
    <a routerLink="/admin/sous-categories" routerLinkActive="active">
      <span>🗂️</span> Sous-catégories
    </a>
    <a routerLink="/admin/produits" routerLinkActive="active">
      <span>📦️</span> Produits
    </a>
    <a routerLink="/admin/avis" routerLinkActive="active">
      <span>✨</span> Avis des utilisateurs

    </a>
    <a routerLink="/admin/contacts" routerLinkActive="active">
      <span>📩️</span> Demandes de contact
    </a>
    <!-- Ajoute Produits / Stocks etc. -->
  </nav>
</aside>
