<section class="home">
  <app-banner [slides]="slides()" [intervalMs]="3000" [autoPlay]="true"></app-banner>
</section>
<app-section-separator label="Catégories Populaires"></app-section-separator>

<app-popular-cats-carousel [title]="'Catégories Populaires'" [cats]="popularCats()"></app-popular-cats-carousel>


<!-- === Meilleures offres (par réduction) === -->
<app-section-separator label="Meilleures offres"></app-section-separator>
<app-product-carousel
  title="Meilleures Offres"
  [products]="bestDeals()"
  [intervalMs]="4000"
  [autoplay]="true">
</app-product-carousel>


<app-section-separator label="Contactez nous"></app-section-separator>
<app-contact-us></app-contact-us>

<app-section-separator label="Pourquoi choisir 4tek ?"></app-section-separator>
<app-home-advantages></app-home-advantages>
